img {
  max-width: 100%;
  height: auto;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}

*{
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
  width: 80%;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
h1,h2,h3,p {
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-image: url(./img/f98e4e6596b51d0ccac39bd9ab231e42.webp);
  height: 56vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem;
}

.titulo {
    color: aqua;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1rem;
  }

@media (min-width: 768px) {
    .titulo {
        color: aqua;
        font-size: 2.5rem;
        font-family: Arial, Helvetica, sans-serif;
      }
}

.contenedor-iconos {
  display: flex;
  gap: 1rem;
}

.contenedor-iconos a {
  color: aqua;
  text-decoration: none;
}


.texto {
    color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding: 2rem;
        text-align: center;
        font-size: 1rem;
  
  }

  .btn_pi{
    border: none;
    background-color:rgb(253, 253, 253);
    font-size: 2rem;
    font-weight: bold;
    color: tomato;
    margin: 1rem 0 2rem 0;
    padding: .5rem;
    border-radius: 2rem;
    text-decoration: none;
  }

  .btn_pi:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);

  }

@media (min-width: 768px) {
    .texto {
        padding: 4rem 0 1rem 0;
        font-size: 1.5rem;
      }
}

.text_video {
  color: coral;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem;
  text-align: center;
}

.fram_video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container_video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
    margin: 2rem 0;
  }

.content_mision {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
        
    .content_mision {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-direction: row;

      }
      
      .info_mision {
        flex-basis: 50%; /* establece el ancho inicial de cada elemento hijo en un 50% */
        font-size: 1.1rem;
        text-align: center;
        font-style: oblique;

      }
}


.info_mision:hover {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.info_mision-title {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.info_image {
  flex-basis: 20%;
  padding: 1rem 0;
}

.order{
    order: -1;
}

.objetivos{
    background-image:url(./img/Ladrillos.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding: 1rem 0;
}

.content-beneficios{
  display: flex;
  gap: .5rem;
  text-align: center;
  margin: 1.5rem 0;
  background-color: burlywood;
  padding: 1rem 0;
}

.img_ben{
  width: 50px;
}

.title_ben{
  font-weight: bold;
  margin: .5rem 0;
}

.footer{
    background-image: url(./img/c.jpg);
    display: flex;
    justify-content: center;
}

.f p{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
}

.imputs label{
    color:rgb(0, 0, 0) ;
    width: 150px;
    display:inline-block;
    margin-right: 1rem;
    margin: .5rem 0;
}

.imputs input{
    width: 23rem;
    padding: .5rem;
    border: none;
    border: thin solid rgba(255, 127, 80, 0.541);
    margin: .5rem;
}

textarea{
    width: 34rem;
    border: thin solid rgba(255, 127, 80, 0.541);
    display: block;
}

.btn{
    border: none;
    background-color: rgba(255, 127, 80, 0.541);
    padding: 1rem 15.8rem;
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}
.title_productos{
    text-align: center;
    margin: 2rem;
}
.title_producto{
    margin: 1rem 0 .5rem 0;
}
.productos{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
}

.card_producto{
    width:300px;
    text-align: center;
    border: thin solid rgb(201, 201, 202);
    border-radius: 1rem;
}

.card_producto img:hover{
    transform: scale(1.1);
}



.card_producto img{
    padding: .5rem 2rem ;
    transition: all ease .2s;
    height: 9rem;
}
.price{
    margin: 1rem 0;
    background-color: aqua;
    display: inline-block;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all ease .2s;
    border-radius: 1rem;
}

.price:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.price small{
    font-weight: bold;
}

/* .prueba{
    transform: translateX(30px);
    animation: animacion 2s infinite alternate;
}

@keyframes animacion{
    0%{
        transform: translateX(90px);
    }
    
    100%{
        transform: translateX(10px);
    }

} */